.center {
    text-align: center;
}

#red {color: red;}
#blue {color:blue;}
#green {color:green;}

#small {font-size: 30%;}

p.large {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.fantasy {
    font-family: fantasy;
}

.custom {
    font-family: fantasy;
    color: orange;
    font-size: 200%;
}

.styledFont {
    font-family: cursive;
    color: aquamarine;
    font-size: 125%;

}

#styledImage {
    border-style: solid;
    color: yellowgreen;
    border-width: thick;
}