/* header 1 custom settings */
h1 {
    font-family: fantasy;
    text-align: center;
}

/*header 2 custom settings */
h2 {
    font-family: fantasy;
    text-align: center;
}

/* centers items, words and phrases */
.center {
    text-align: center;
}

/* creates containers for sections of the page! */
.dotted {
    border-style: dotted;
    border-width: thick;
    width: 700px;
    height: auto;
    margin: auto;
    padding: 25px 25px 25px 25px;
}

/*smaller container for specific section */
#dotted1 {
    border-style: dotted;
    border-width: thick;
    width: 250px;
    height: auto;
    margin: auto;
    padding: 25px 25px 25px 25px;
}

/*makes text tiny!*/
#tiny {
    font-size: 90%;
    text-align: center;
}